/*Whole Page*/
header,
main,
footer {
    max-width: 920px;
    margin: 0 auto;
}

@media screen and (max-width: 550px) {
    .wrapper {
        display: block;
    }
}

/*––Header––*/
header {
    background-color: #EACBD1;
    margin-top: 10px;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    border: solid white 10px;
    box-sizing: border-box;
}

/*Logo*/
.logo-box {
    width: 40px;
    height: auto;
    background-color: #EACBD1;
    padding: 5px;
    border: solid black 3px;
    margin: 10px;
}

/*H1*/
.heading {
    display: flex;
    flex-direction: column;
}

.heading h1 {
    font-size: 2rem;
    margin: 0;
}

.motto {
    font-family: cursive, 'Great Vibes', serif;
    font-size: 1rem;
    letter-spacing: 1.5pt;
    margin: 0;
}

/*Top Navigation & links*/
.top-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    display: block;
    padding: .7rem;
    border-top: solid black;
    border-bottom: solid black;
}

.top-nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: cursive, 'Great Vibes', serif;
    font-size: 20px;
}

nav a:link {
    color: black;
}

nav a:visited {
    color: white;
}

nav a:hover {
    background-color: #A9F8FB;
}

nav a:active {
    color: white;
}

a {
    text-decoration: none;
}

/*––––––Main––––––*/
/*Body*/
body {
    background-color: #EACBD1;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/*–––Start: Hero Image*/
.hero-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.hero-img-a {
    margin-top: 20px;
    box-sizing: border-box;
    padding: 0;
    border: solid black;
    width: 920px;
    height: 379px;
    grid-column: 1/-1;
    grid-row: 1/3;
}

.action {
    background-color: rgba(255, 255, 255, .5);
    margin: 1em 30em 1em 2em;
    padding: 1em;
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: -10px;
}

.action button {
    color: black;
    background-color: #EACBD1;
    line-height: 2em;
    width: 10em;
    font-size: 1.2em;
}

/*–––End: Hero Image*/

/*–––Start: Grid-Main*/
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}


/*hero-img*/
.hero-img {
    grid-column: 1/3;
}

/*main-top*/
.main-top {
    grid column: 1/2;
    margin-top: 25px;
    margin-left: 30px;
}

.main-top-img {
    grid-column: 2/3;
    margin-top: 30px;
    margin-left: 20px;
}

/*main-middle*/
.main-middle-img {
    grid-column: 1/2;
    margin-left: 30px;
}

.main-middle {
    grid-column: 2/3;
    margin-top: -10px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*main-bottom*/
.main-bottom {
    grid-column: 1/3;
    max-width: 880px;
    margin-left: 20px;
}

.main-top h2,
.main-middle h2,
.main-bottom h2 {
    text-align: center;
}

/*–––End: Grid-Main*/

/*––Start: Img*/
.main-top-img,
.main-middle-img {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
}


/*––End: Img*/


/*––––––End: Main––––––*/


/*Headers*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: cursive, 'Great Vibes', serif;
    color: black;
}

h2 {
    text-decoration: underline;
}

/*Paragraphs*/
p {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    background-color: #EACBD1;
    color: white;
}

main p {
    padding: 15px;
    border: solid white 3px;
    font-size: 1.1rem;
}

/*–––Footer––––*/
footer {
    border: solid white 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
}

footer img {
    width: 50px;
    height: auto;
}

footer p {
    max-width: fit-content;
    background-color: #EACBD1;
    color: white;
    font-size: 1rem;
}

.contact-info {
    padding: 3px 10px;
    max-width: fit-content;
}

.contact-social {
    display: flex;
    flex-direction: row;
}