/*Whole Page*/
header,
main,
footer {
    max-width: 920px;
    margin: 0 auto;
}


/*Content*/
body {
    background-color: #EEC2DD;
}

/*Paragraphs*/
p {
    background-color: white;
    padding: 15px;
}

/*Top Navigation & links*/
.top-nav>ul>li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 20px;

}

a:link {
    color: #E27396;
}

a:visited {
    color: black;
}

a:hover {
    background-color: #A9F8FB;
}

a:active {
    color: white;
}

a {
    text-decoration: none;
}

/*Headers*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Great Vibes', cursive;
    color: black;
}
