/*––––––––––––––––––––––––––––Home Page––––––––––––––––––––––––––––*/
/*––––––––––Whole Page––––––––––*/
/*–––––Body–––––*/
/*html*/
html {
    background-color: #F46715;
}

/*body*/
body {
    background-color: white;
    padding: 0;
    margin: auto;
    width: 920px;
    font-size: 16px;

}

/*Headers*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Crimson Pro', serif;
    font-family: 'Crimson Text', serif;
    color: #000;
}

/*Paragraphs*/
p {
    font-family: 'Crimson Pro', serif;
    font-family: 'Crimson Text', serif;
    color: black;
    padding: 1em;
    font-style: italic;
    /*background-color: #EACBD1;*/
}

.colored-f {
    color: #245FA8;
}

main p {
    padding: 15px;
    font-size: 1.5rem;
}

main h2 {
    font-size: 3rem;
}

header,
main,
footer {
    max-width: 920px;
    margin: 0 auto;
}

@media screen and (max-width: 550px) {
    .wrapper-home-f {
        display: block;
    }

    header {
        background-color: black;
        color: white;
        margin-top: 10px;
        padding: 5px 0;
        display: flex;
        flex-direction: row;
        /*border: solid white 10px;*/
        box-sizing: border-box;
    }

    /*Logo*/
    .logo-box-f {
        width: 40px;
        height: auto;
        padding: 5px;
        /*border: solid black 3px;*/
        margin: 10px;
    }

    /*H1*/
    .heading-f {
        display: flex;
        flex-direction: column;
    }

    .heading-f a h1 {
        font-size: 5rem;
        margin: 0;
    }

    .motto-f {
        font-family: 'Crimson Pro', 'Crimson Text', serif;
        font-size: 1rem;
        letter-spacing: 1.5pt;
        margin: 0;
    }

    /*––––––––––Nav & Links––––––––––*/
    /*Top Nav*/
    .top-nav-f ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

    .top-nav-f ul li {
        list-style-type: none;
        margin: 0;
        margin-top: 7px;
        padding: 0;
        font-family: 'Crimson Pro', 'Crimson Text', serif;
        font-size: 20px;
    }

    /*Top Nav Div*/
    .top-nav-div-f {
        /*border-top: solid black 3px;
        border-bottom: solid black 3px;*/
        margin: 10px 0;
        margin-left: 30px;
    }

    /*Nav Links*/
    header nav ul li a {
        display: block;
        padding: 10px .7rem;
    }

    /*Pseudo Classes*/
    nav a:link {
        color: black;
    }

    nav a:visited {
        color: #FBCC0E;
    }

    nav a:hover {
        color: white;
        background-color: #F46715;
    }

    nav a:active {
        color: #F46715;
        background-color: white;
    }

    a {
        text-decoration: none;
    }

    /*–––––––––––––––Main–––––––––––––––*/
    /*–––––Hero Image–––––*/
    .hero-img-f {
        /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
    }

    .hero-img-f {
        box-sizing: border-box;
        padding: 0;
        /*border: solid black;*/
        width: 920px;
        height: auto;
        /*grid-column: 1/-1;
        grid-row: 1/3;*/
    }

    /*Call to Action*/
    .action-f {
        /*background-color: rgba(255, 255, 255, .5);*/
        margin: 1em 30em 1em 2em;
        padding: .3em 1em .3em 1em;
        margin-top: -10px;
    }

    .action-f a {
        margin-top: -50px;
        background-color: white;
        border-radius: 100px;
        text-decoration: none;
    }

    /*–––––Wrapper Content–––––*/
    /*grid*/
    .wrapper-home-f {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }

    /*content*/
    .welcome-f {
        grid-column: 1/3;
        text-align: center;
    }

    .andrew-intro-f {
        grid-column: 1/2;
    }

    .andrew-intro-img-f {
        grid-column: 2/3;
    }

    .noah-intro-f {
        grid-column: 1/2;
    }

    .noah-intro-img-f {
        grid-column: 2/3;
    }

    /*––––––––––––––Footer––––––––––––––*/
    /*footer*/
    footer {
        /*border: solid white 10px;*/
        /*box-sizing: border-box;*/
        padding: 5px;
        /*margin-top: 15px;*/
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*img*/
    footer img {
        width: 50px;
        height: auto;
        grid-column: 3/4;
    }

    /*paragraph*/
    footer p {
        max-width: fit-content;
        color: black;
        font-size: 1rem;
    }

    /*contact nformation*/
    .contact-info-f {
        padding: 3px 400px 3px 10px;
        max-width: fit-content;
        grid-column: 1/2;
        /*display:flex;
    align-items:flex-start;
    flex-direction:column;
    margin-left:100px;*/
    }

    .contact-social-f {
        display: flex;
        flex-direction: row;
    }

    .icon-instagram-img-f,
    .icon-facebook-img-f,
    .icon-twitter-img-f {
        /*forced width with inline style. Last resort.*/
        grid-column: 3/4;
    }

    .icon-instagram-img-f {
        grid-column: 3/4;
    }